html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

a img {
    border: none;
}

a {
    text-decoration: none;
    }

/* fonts
---------------------------------------------------------------------------------- */

@font-face{
    font-family: 'Delius-Regular';
    font-weight: normal;
    src: url('../fonts/Delius-regular/Delius-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    src: url('../fonts/Delius-regular/Delius-Regular-webfont.eot');
        url('../fonts/Delius-regular/Delius-Regular-webfont.woff') format('woff'),
        url('../fonts/Delius-regular/Delius-Regular-webfont.ttf') format('truetype'),
        url('../fonts/Delius-regular/Delius-Regular-webfont.svg#webfont') format('svg');
    }

/* /fonts
---------------------------------------------------------------------------------- */

/* common styles
---------------------------------------------------------------------------------- */

body {
    position: relative;
    background: -webkit-linear-gradient(#378fd9, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#378fd9, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#378fd9, #ffffff); /* For Firefox 3.6 to 15 */
    background: url(../img/clouds.png) 0 50px,linear-gradient(#378fd9, #ffffff); /* Standard syntax */
    -webkit-background-size: 100% 400px;
    background-size: 100% 400px;
    background-repeat: no-repeat;
  }



.__rightside{
    float: right;
    }

.__leftside{
    float: left;
    }



.clr{
    overflow:auto;
    }

/* /common styles
---------------------------------------------------------------------------------- */



/* header
---------------------------------------------------------------------------------- */

.header{
    width: 940px;
    min-height: 128px;
    margin: 0 auto;
    position:relative;
    }

    .header_logo{
    position:absolute;
    top:0;
    left: -10px;
    background-image:url("../img/traxo-logo.png") ;
    width: 228px;
    height: 107px;
    }

    .header_slogan{
        margin: 0 auto;
        padding-top: 25px;
        color: white;
        text-align: center;
        font-family: Georgia, sans-serif;
        font-style: italic;
        font-size: 46px;
        }

    .header .auth-buttons{
        position: absolute;
        right: 0;
        top: 36px;
        min-width: 158px;
        min-height: 28px;
        }

.auth-buttons{
    }
        .auth-buttons__button{
            border-radius: 5px;

            text-transform: uppercase;
            font-family: Helvetica, Arial, sans-serif;
            }

        .auth-buttons__button .__login {
            display: inline-block;
            font-size: 12px;
            padding: 0.75em 1.25em;
            float: right;
            margin-left: 10px;
            background-color: #266497;
            color: white;
            }

        .auth-buttons_button .__sign-up{
            display: inline-block;
            font-size: 12px;
            padding: 0.75em 1.25em;
            float: right;
            background-color: #8fc3ee;
            color: #225580;
            }

/* /header
---------------------------------------------------------------------------------- */

/* content
---------------------------------------------------------------------------------- */
.traxo-main-overview{
    width: 940px;
    margin: 45px auto 0 auto;
    height: 537px;
    position: relative;
    }

.traxo-main-overview_image{
    position:absolute;
    width:537px;
    height: 501px;
    left: 50%;
    margin: -10px -268px;
    background: url("../img/wallet.png") no-repeat 0 0;
    }



.traxo-main-overview_item{
    display: inline-block;
    position:absolute;
    width: 470px;
    height: 200px;
    }

    .traxo-main-overview_item_icon,
    .traxo-main-overview_item_text,
    .traxo-main-overview_item_arrow {
        position: absolute;
        display: inline-block;
        }

    .traxo-main-overview_item.__common-info .traxo-main-overview_item_text,
    .traxo-main-overview_item.__travel-miles .traxo-main-overview_item_text,
    .traxo-main-overview_item.__travel-score .traxo-main-overview_item_text{
        text-align: left;
        padding-right: 250px;
        }

    .traxo-main-overview_item.__travel-tools .traxo-main-overview_item_text,
    .traxo-main-overview_item.__travel-history .traxo-main-overview_item_text,
    .traxo-main-overview_item.__travel-advice .traxo-main-overview_item_text{
        padding-left: 296px;
        text-align: right;
        }

.traxo-main-overview_item_text{
    font-family: Delius-Regular, Arial, sans-serif;
    font-size: 18px;
    color: #58666e;
    }

.traxo-main-overview_item_icon{
    background: url("../img/icons_small_sprite.png") 0 0 / 160px 100px no-repeat ;
    }

.traxo-main-overview_item_arrow {
    background: url("../img/arrows-sprite.png") 0 0 / 400px 300px no-repeat ;
    }


    .traxo-main-overview_item.__common-info{
        position: relative;
        top:0;
        left:0;
        }

        .traxo-main-overview_item *{
            position: absolute;
            }

        .traxo-main-overview_item.__common-info .traxo-main-overview_item_icon,
        .traxo-main-overview_item.__travel-miles .traxo-main-overview_item_icon,
        .traxo-main-overview_item.__travel-score .traxo-main-overview_item_icon{
            left: -63px;
            }


        .traxo-main-overview_item.__travel-tools .traxo-main-overview_item_icon,
        .traxo-main-overview_item.__travel-history .traxo-main-overview_item_icon,
        .traxo-main-overview_item.__travel-advice .traxo-main-overview_item_icon{
            right: -74px;
            }


            .traxo-main-overview_item.__common-info .traxo-main-overview_item_icon{
                width: 39px;
                height: 39px;
                background-position: -3px -6px;
                }

            .traxo-main-overview_item.__common-info .traxo-main-overview_item_arrow{
                top: 34px;
                left: 195px;
                width: 210px;
                height: 60px;
                background-position: 0 0;
                }

    .traxo-main-overview_item.__travel-tools{
        top: 0;
        left: 470px;
        }
            .traxo-main-overview_item.__travel-tools .traxo-main-overview_item_icon{

                top: -4px;
                width: 42px;
                height: 44px;
                background-position: -117px -46px;
                }

            .traxo-main-overview_item.__travel-tools .traxo-main-overview_item_arrow{

                top: 25px;
                left: 170px;
                width: 110px;
                height: 82px;
                background-position: -240px 0;

                }

    .traxo-main-overview_item.__travel-miles{
        top: 200px;
        left: 0;
        }
    .traxo-main-overview_item.__travel-miles .traxo-main-overview_item_icon{
        width: 42px;
        height: 44px;
        background-position: -118px 0
        }

    .traxo-main-overview_item.__travel-miles .traxo-main-overview_item_arrow{
        position: absolute;
        top: 0;
        left: 195px;
        width: 210px;
        height: 82px;
        background-position: 0 -126px;

        }

    .traxo-main-overview_item.__travel-history{
        top: 200px;
        left: 470px;
        }
    .traxo-main-overview_item.__travel-history .traxo-main-overview_item_icon{
        width: 42px;
        height: 44px;
        background-position: -60px -46px;
        }

    .traxo-main-overview_item.__travel-history .traxo-main-overview_item_arrow{
        position: absolute;
        top: 0;
        left: 198px;
        width: 210px;
        height: 82px;
        background-position: -232px -105px;

        }


    .traxo-main-overview_item.__travel-score{
        top: 400px;
        left: 0;
        height: 100px;
        }
    .traxo-main-overview_item.__travel-score .traxo-main-overview_item_icon{
        width: 42px;
        height: 44px;
        background-position: -60px 0;
        }

    .traxo-main-overview_item.__travel-score .traxo-main-overview_item_arrow{
        position: absolute;
        top: -53px;
        left: 166px;
        width: 210px;
        height: 82px;
        background-position: 0 -250px;

        }

    .traxo-main-overview_item.__travel-advice{
        top: 400px;
        left: 470px;
        height: 100px;
        }
    .traxo-main-overview_item.__travel-advice .traxo-main-overview_item_icon{
        width: 42px;
        height: 44px;
        background-position: 0 -48px;
        }

    .traxo-main-overview_item.__travel-advice .traxo-main-overview_item_arrow{
        position: absolute;
        top: -45px;
        left: 158px;
        width: 210px;
        height: 82px;
        background-position: -232px -245px;

        }


/* /content
---------------------------------------------------------------------------------- */


/* search
---------------------------------------------------------------------------------- */
.easy-subcsription{
    width: 940px;
    padding-top: 25px;
    margin: 0 auto;
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, .2);
    }

.easy-subscription__form {
    margin: 0 auto;
    width: 550px;
    height: 60px;
    text-align: center;
    }

.easy-subscription__form__input{
    box-sizing: border-box;
    border-radius: 3px;
    width: 345px;
    height: 50px;
    border: solid 1px #9faab3;
    border-radius: 2px;
    box-shadow: inset 0 2px 5px -2px #9faab3;

    }

.easy-subscription__form__input:focus{
    outline: 0;
    }

.easy-subscription__form__submit{
    box-sizing: border-box;
    margin-left: 15px;
    width: 169px;
    height: 50px;
    background-color: #ed4908;
    border: solid 1px #9faab3;
    border-radius: 3px;
    box-shadow: none;
    font-size: 23px;
    font-family: Helvetica, Arial, serif;
    font-weight: 500;
    text-transform: none;
    color: #ffffff;
    }

.easy-subcsription .easy-subscription__comment-text{
    margin: 0 auto;
    height: 48px;
    padding-top: 20px;
    text-align: center;
    font-family: Georgia, Arial, serif;
    font-style: italic;
    font-size: 20px;
    color: #666566;
    
    }



/* /search
---------------------------------------------------------------------------------- */

/* motivation-text
---------------------------------------------------------------------------------- */
.motivation-text{
    width: 940px;
    height: 50px;
    margin: 50px auto;

    }

        .motivation-text__pseudo-line{

            }

        .motivation-text__text{

            background: #ffffff;
            height: 50px;
            margin: 0 auto;
            font-family: Georgia, sans-serif;
            font-style: italic;
            font-size: 40px;
            text-align: center;
            color: #292d2f;
            background: url("../img/dot-line.png") no-repeat center;
            }

/* /line-text
---------------------------------------------------------------------------------- */

/* traxo-services
---------------------------------------------------------------------------------- */
.traxo-services{
    width: 940px;
    margin: 0 auto;

    }

.traxo-services__horisontal-set{
    min-height: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    }

.traxo-services__item{
    width: 470px;
    display: inline-block;
    position:relative;
    }





.traxo-services__item__icon{
    display: inline-block;
    margin-left: 28px;
    margin-right: 30px;
    background: url("../img/icon-sprite-big.png") 0 0 / 211px 313px no-repeat ;
    }

            .traxo-services__item.__info .traxo-services__item__icon{
                height: 88px;
                width: 88px;
                background-position: 0 0;
                }
            .traxo-services__item.__plane .traxo-services__item__icon{
                height: 88px;
                width: 88px;
                background-position: -124px 0;
                }
            .traxo-services__item.__perks .traxo-services__item__icon{
                height: 88px;
                width: 88px;
                background-position: 0 -108px;
                }
            .traxo-services__item.__simplify .traxo-services__item__icon{
                height: 98px;
                width: 88px;
                background-position: -122px -98px;
                }
            .traxo-services__item.__travel-story .traxo-services__item__icon{
                height: 98px;
                width: 92px;
                background-position: 0 -224px;
                }
            .traxo-services__item.__travel-advice .traxo-services__item__icon{
                height: 98px;
                width: 92px;
                background-position: -122px -221px;
                }


.traxo-services__item__text{
    display: inline-block;
    width: 278px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #a7a7a7
    }

.traxo-services__item__text.__title{
    font-size: 18px;
    color: #6b9ae4;
    }

.traxo-services__item__expand-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 26px;
    background: url("../img/plus_button.png") no-repeat;

    }





/* /options
---------------------------------------------------------------------------------- */

/* partners
---------------------------------------------------------------------------------- */
.traxo-partners{
    width: 940px;
    height: 259px;
    margin: 0 auto;
    }

        .traxo-partners .traxo-partners_partners-sprite{
            position: relative;
            margin: 0 auto;
            width: 940px;
            height: 259px;
            background: url("../img/travel-partners.jpg") no-repeat;
            }


        .traxo-partners .traxo-partners__expand-button{
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 26px;
            background: url("../img/plus-button-grey.png no-repeat");
            }


/* /partners
---------------------------------------------------------------------------------- */


/* partners-comments
---------------------------------------------------------------------------------- */

.about-comments{
    position: relative;
    width: 988px;
    height: 400px;
    padding-top: 50px;
    margin: 0 auto;

    }
        .about-comments_comment .comment-text-wrapper{
            width:346px;
            height: 156px;
            position: relative;
            top: 45%;
            left:21%;
            }
        .about-comments_comment.__left-comment .comment-text-wrapper,
        .about-comments_comment.__right-comment .comment-text-wrapper,{
            top: 36%;
            right: 13%;
            }


        .about-comments_comment .comment-text-wrapper .comment-text{
            font-family: Georgia, sans-serif;
            font-style: italic;
            font-size: 24px;
            text-align: center;
            color: #5b5b5b;
            }
        .about-comments_comment .comment-text-wrapper .comment-author{
            position: relative;
            top:20%;
            left:21%;
            color: #bcbbbb;
            }
        .comment-text-wrapper .comment-author .author-name{
            font-family: Arial, sans-serif;
            font-weight: 900;
            font-size: 14px;
            }
        .comment-text-wrapper .comment-author .source-name{
            font-family: Arial, sans-serif;
            font-weight: 100;
            text-transform: uppercase;
            font-size: 14px;
            }

.about-comments_comment.__center-comment {

    width: 600px;
    height: 340px;
    position:relative;
    top: -27%;
    left: 50%;
    margin: -157px 0 0 -285px;
    z-index: 1000;
    background: url("../img/cloud.png") no-repeat;
    }

.about-comments_comment.__right-comment {

    width: 480px;
    height: 272px;
    position:relative;
    top: -513px;
    left: 500px;
    z-index: -1;
    background: url("../img/cloud.png")  no-repeat;
    background-size: 480px 272px;
    }

.about-comments_comment.__left-comment {

    width: 480px;
    height: 272px;
    position:relative;
    top: -58px;
    right: 0;
    z-index: -1;
    background: url("../img/cloud.png") no-repeat;
    background-size: 480px 272px;
    }

/* /partners-comments
---------------------------------------------------------------------------------- */

/* supported-websites
---------------------------------------------------------------------------------- */

.featured-publishers{
    width: 940px;
    height: 310px;
    margin: 0 auto;

    }
        .featured-publishers .featured-publishers__publishers-sprite{
            width: 940px;
            height: 310px;
            margin: 0 auto;
            background: url("../img/supported-websites.png") no-repeat;
            }

/* /supported-websites
---------------------------------------------------------------------------------- */
/* footer
---------------------------------------------------------------------------------- */

.footer{
    background: #268ce2;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #c9dbea;

    }

.footer-wrapper{
    width: 940px;
    height: 295px;
    margin: 0 auto;
    }

.footer-menu{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 46px;
    }

        .footer-menu .footer-column{
            display: inline-block;
            width: 230px;
            padding-right: 20px;
            vertical-align: top;
            }
        .footer-menu .footer-column:last-child{
            width: 130px;
            padding-right: 20px;
            }

.footer-ul{
    margin-top: 0;
        }
    .footer-ul.__ul-item{
        line-height: 1.4;
        }
    .footer-ul.__ul-item:first-child{
        border-bottom: 1px solid ##e3e8ed;
        margin-bottom: 16px;
        }


/* copyrights
---------------------------------------------------------------------------------- */

.copyrights{
    width: 100%;
    min-height: 38px;
    font-size: 13px;
    position: relative;

    }

.copyrights .block-legal{
    position: absolute;
    left: 0;
    top: 0;
    width: 152px;
    padding-right: 35px;
    text-align: left;
    }

.copyrights .block-totop{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    padding-right: 35px;
    text-align: right;
    text-decoration: underline;
    }
        .copyrights .block-totop:before{
            content:"▲";
            }

        .copyrights .block-totop a{
            text-decoration: none;
            }

/* /copyrights
---------------------------------------------------------------------------------- */
/* /footer
---------------------------------------------------------------------------------- */
